body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #f8f9fa; /* Светло-голубой фон */
}

.navbar {
    background-color: #e3f2fd; /* Светло-голубой цвет */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand h1 {
    font-family: 'Comic Sans MS', cursive;
    color: #007bff; /* Голубой цвет текста */
    margin-left: 10px;
}

.navbar-nav .nav-link {
    color: #007bff;
}

.btn-register {
    background-color: #ffcccb; /* Пастельный розовый */
    border-color: #ffcccb;
    color: white;
    margin-left: 10px;
}

.btn-login {
    background-color: #add8e6; /* Пастельный голубой */
    border-color: #add8e6;
    color: white;
    margin-left: 10px;
}

.cat-paw {
    width: 30px;
    height: 30px;
}

.btn-register:hover, .btn-login:hover {
    background-color: #0069d9;
    color: white;
}

.col-md6 {
    margin-bottom: 10px;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    max-height: 450px;
}


