h1 {
   color: red;
   text-align: center;
}

div {
    margin-bottom: 20px;
}

.ot {
    margin-top: 20px;
}

figure img {
  max-width: 450px;
  max-height: 450px;
}


form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ADD8E6;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    max-height: 450px;
}


