{% extends "main/base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <a href="new_task" class="btn btn-secondary">Добавить задачу</a>
{% endif %}
<br>
<h1>Задачи нашего сообщества</h1>
{% for item in tasks %}
  <div class="table_container" style="margin: 30px;">
    <table class="my_table">
        <caption style="caption-side: top;">Action № {{ forloop.counter }}</caption>
        <tr class="my_row">
            <th style="width: 200px; background-color: #00CED1; text-align: center;">Название</th>
            <th style="width: 400px; background-color: #00CED1;">Описание</th>
          <th style="width: 100px; background-color: #00CED1; text-align: center;">Время</th>
          <th style="width: 100px; background-color: #00CED1; text-align: center;">Дата создания</th>
          <th style="width: 100px; background-color: #00CED1; text-align: center;">Конец</th>
          <th style="width: 200px; background-color: #00CED1; text-align: center;">Автор</th>
        </tr>
        <tr class="my_row">
            <td style="height: 50px; background-color: #AFEEEE; text-align: center;">{{ item.title }}</td>
            <td style="background-color: #AFEEEE;">{{ item.task }}</td>
            <td style="background-color: #AFEEEE; text-align: center;">{{ item.work_size }}</td>
            <td style="background-color: #40E0D0; text-align: center;">{{ item.start_date }}</td>
            {% if item.end_date %}
            <td style="background-color: #40E0D0; text-align: center;">{{ item.end_date }}</td>
            {% else %}
            <td style="background-color: #FA8072; text-align: center;">Еще не закончена</td>
            {% endif %}
            <td style="background-color: #7FFFD4; text-align: center;">{{ item.user.username }}</td>
        </tr>
    </table>
  </div>
{% if user.is_authenticated and user.id == item.user_id %}
    {% csrf_token %}
    <div style="margin: 30px;">
        <a href="{% url 'edit_task' item.id %}" class="btn btn-warning">
            Изменить
        </a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-task-id="{{ item.id }}">
            Удалить
        </button>
    </div>
{% endif %}
{% endfor %}

<!-- Vertically centered modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Подтверждение удаления</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить эту задачу?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <a type="button" id="confirm-delete-btn" class="btn btn-primary">Удалить</a>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var deleteButtons = document.querySelectorAll('button[data-bs-target="#staticBackdrop"]');
    deleteButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var taskId = button.getAttribute('data-task-id');
            var confirmDeleteBtn = document.getElementById('confirm-delete-btn');
            confirmDeleteBtn.href = "{% url 'delete_task' 0 %}".replace('/0/', '/' + taskId + '/');
        });
    });
});
</script>

{% endblock %}
