{% extends "main/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h4>Сброс пароля</h4>
    <form action="{% url 'password_reset' %}" method="post">
         {% csrf_token %}
        {{ form.email.label }}:<br>
         <div>
                {{ form.email|add_class:'form-control' }}
         </div>
        <br>
        <button type="submit" class="btn btn-info">Отправить</button>
    </form>
    {% if form.errors %}
      <p>{{ form.errors.error }}</p>
    {% endif %}
{% endblock %}