{% extends "main/base.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% block content %}

{% if validlink %}
    <h4>Смена пароля</h4>
    <form method="post">
        <input class="d-none" autocomplete="username" value="{{ form.user.get_username }}">
        {% csrf_token %}
        {{ form.new_password1.label }}:<br>
         <div>
                {{ form.new_password1|add_class:'form-control' }}
         </div>
        {{ form.new_password1.errors }}
        {{ form.new_password2.label }}:<br>
         <div>
                {{ form.new_password2|add_class:'form-control' }}
         </div>
        {{ form.new_password2.errors }}
        <br>
        <button type="submit" class="btn btn-info">Сохранить</button>
    </form>
    {% if form.errors %}
      <p>{{ form.errors.error }}</p>
    {% endif %}

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}