{% extends "main/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h4>Регистрация пользователя</h4>
    <form action="{% url 'register' %}" method="post">
         {% csrf_token %}
        {{ form.username.label }}:<br>
         <div>
                {{ form.username|add_class:'form-control' }}
         </div>
        {{ form.name.label }}:<br>
         <div>
                {{ form.name|add_class:'form-control' }}
         </div>
        {{ form.surname.label }}:<br>
         <div>
                {{ form.surname|add_class:'form-control' }}
         </div>
        {{ form.email.label }}:<br>
         <div>
                {{ form.email|add_class:'form-control' }}
         </div>
        {{ form.birth_date.label }}:<br>
         <div>
                {{ form.birth_date|add_class:'form-control' }}
         </div>
        {{ form.city.label }}:<br>
         <div>
                {{ form.city|add_class:'form-control' }}
         </div>
        {{ form.ide.label }}:<br>
         <div>
                {{ form.ide|add_class:'form-control' }}
         </div>
        {{ form.password1.label }}:<br>
         <div>
                {{ form.password1|add_class:'form-control' }}
         </div>
        {{ form.password2.label }}:<br>
         <div>
                {{ form.password2|add_class:'form-control' }}
         </div>
        <br>
        <button type="submit" class="btn btn-info">Войти</button>
        {% for field in form %}
          {% for error in field.errors %}
            <p style="color: red;">{{ error }}</p>
          {% endfor %}
        {% endfor %}
    </form>
{% endblock %}